@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --paragraph-font: 'Montserrat', sans-serif;
    --primary-color: #0E71A5;
    --secondary-color: #C2B18B;
    --accent-color: #282828;
    --additional-accent-color: #FFFFFF;
    --heading-font: var(--paragraph-font);
    --paragraph-or-default-font: var(--paragraph-font);
    --navigation-background-color: #0E71A5;
    --navigation-link-color: #C2B18B;
    --navigation-hover-link-color: #282828;
    --navigation-hover-background-color: #FFFFFF;
    max-width: 960px;
    padding: 20px;
}

h2, h3, h4, h5, h6 {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    font-family: var(--paragraph-font);
    color: var(--accent-color);
}

article {
    position: relative;
}

p {
    padding: 20px;
    color: var(--primary-color);
}

footer nav img {
    width: 30px;
}

.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.header {
    position: relative;
    background-image: url('./../images/rafting11_1024.jpg');
    width: 80vw;
    height: 50vh;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
	align-items: center;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: end;
    margin-left: 10px;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
}

form {
    width: 500px;
    margin: 0 auto;
    padding: 5px;
    border: 3px solid rgb(40, 118, 190);
    border-radius: 20px;
    background-color: azure;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 5px;
    padding: 5px;
    border: 1px solid rgb(26, 27, 4);
}

legend {
    padding: 5px;
    font-size: large;
    font-style: oblique;
}

label,
input,
button,
select,
textarea {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    text-align: right;
    padding-right: 20px;
}

input,
select,
textarea {
    padding: 5px;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 1.3rem;
    height: 1.3rem;
    vertical-align: bottom;
}

button {
    border: 1px solid rgb(49, 48, 48);
    padding: 5px;
    border-radius: .5rem;
    font-size: 1rem;
    background: rgb(230, 211, 104);
}

button:hover {
    background-color: rgb(55, 180, 238);
}

.form-item {
    display: grid;
    align-items: center;
}
