@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --paragraph-font: 'Montserrat', sans-serif;
    --primary-color: #0E71A5;
    --secondary-color: #C2B18B;
    --accent-color: #282828;
    --additional-accent-color: #FFFFFF;
    --heading-font: var(--paragraph-font);
    --paragraph-or-default-font: var(--paragraph-font);
    --navigation-background-color: #0E71A5;
    --navigation-link-color: #C2B18B;
    --navigation-hover-link-color: #282828;
    --navigation-hover-background-color: #FFFFFF;
    max-width: 960px;
    padding: 20px;
}

h2, h3, h4, h5, h6 {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

.overlay-text {
    position: absolute;
    font-family: var(--paragraph-font);
    color: var(--accent-color);
}

article {
    position: relative;
}

p {
    padding: 20px;
    color: var(--primary-color);
}

footer nav img {
    width: 30px;
}

.hero img {
    
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}
